[submodule "front-end"]
	path = front-end
	url = https://github.com/BugBustersFatecSJC/inv.sort-front.git
[submodule "back-end"]
	path = back-end
	url = https://github.com/BugBustersFatecSJC/inv.sort-back.git
